html, body {
  height: 100%;
}

body {
  padding: 50px 0 0 0;
}

/*navbar style */
.navbar-toggle {
  float: left;
  margin-left: 15px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}

/* map style */
#map { 
    position:fixed; 
    top:0; 
    bottom:0; 
    width:100%;
}

.map-small {
    bottom: 65% !important;
}

#content {
    margin-top: 40vh;
}